/**
 * 
 */
package ${pojoFullPackageName}.base;

import javax.persistence.Column;
import javax.persistence.Id;

/**
 * @author paddingdun
 * ${entity.tableCommon} do
 * @date ${date}
 * @since 1.0
 * @version 1.0
 */
public class Base${entity.entityBeanName} implements java.io.Serializable {
	
	private static final long serialVersionUID = 1L;
	
	#foreach( $column in ${entity.tableColumns})
	/**
	 * ${column.columnCommon}
	 */
	#if($column.gson)
	@com.google.gson.annotations.SerializedName("${column.columnAlias}")
	#end
	#if($column.primary)
	@Id
	#end
	@Column(name = "${column.columnName}")
    private ${column.javaType} ${column.propertyName};
    	
	#end
	
	#foreach( $column in ${entity.tableColumns})
	public void  ${column.setMethod}(${column.javaType} ${column.propertyName}){
		this.${column.propertyName} = ${column.propertyName};
	}
	
	public ${column.javaType}  ${column.getMethod}(){
		return this.${column.propertyName};
	}
	#end
	
	
	
	
}

