/**
 * 
 */
package ${pojoFullPackageName}.base;

/**
 * @author paddingdun
 * ${entity.tableCommon} do
 * @date ${date}
 * @since 1.0
 * @version 1.0
 */
public abstract class Base${entity.entityBeanName} implements java.io.Serializable {
	
	private static final long serialVersionUID = 1L;
	
	#foreach( $column in ${entity.tableColumns})
	/**
	 * ${column.columnCommon}
	 */
	#if($column.gson)
	@com.google.gson.annotations.SerializedName("${column.columnAlias}")
	#end
    private ${column.javaType} ${column.propertyName};
    	
	#end
	
	#foreach( $column in ${entity.tableColumns})
	public void  ${column.setMethod}(${column.javaType} ${column.propertyName}){
		this.${column.propertyName} = ${column.propertyName};
	}
	
	public ${column.javaType}  ${column.getMethod}(){
		return this.${column.propertyName};
	}
	#end
	
	
	
	
}

