/**
 * 
 */
package ${pojoFullPackageName};

import javax.persistence.Table;

import ${pojoFullPackageName}.base.Base${entity.entityBeanName};

/**
 * @author paddingdun
 * ${entity.tableCommon} dto
 * @date ${date}
 * @since 1.0
 * @version 1.0
 */
@Table(name = "${entity.tableName}")
public class ${entity.entityBeanName} extends Base${entity.entityBeanName} implements java.io.Serializable {
	
	private static final long serialVersionUID = 1L;
	
	#foreach( $column in ${entity.queryColumns})
	#if($column.newProperty)
	/**
	 * ${column.title}
	 * ext query parameter property;
	 */
	@javax.persistence.Transient
    private ${column.javaType} ${column.propertyName};
    #end	
	#end
	
	#foreach( $column in ${entity.queryColumns})
	#if($column.newProperty)
	public void  ${column.setMethod}(${column.javaType} ${column.propertyName}){
		this.${column.propertyName} = ${column.propertyName};
	}
	
	public ${column.javaType}  ${column.getMethod}(){
		return this.${column.propertyName};
	}
	#end
	#end
}

