#macro( datatable_columns $listColumns )
#set($j = 0)#foreach( $column in $listColumns)#if( ${column.listRender.show} )#if($j > 0),#end${column.listRender.render}#set($j = $j + 1)#end#end
#end

#macro( ajax_pks_get_data $cols)
var objData = {};
#foreach( $column in ${cols}) #if (${column.primary}) objData["${column.propertyName}"]=rowData["${column.propertyName}"]; #end 
#end
#end

#macro( ajax_pks_get_data_array $cols $single )
	var objData = {};
	#foreach( $column in ${cols}) 
		#if (${column.primary}) 
			#if(${single})
				dataArr.push(rowData["${column.propertyName}"]);
			#end 
			objData["${column.propertyName}"]=dataArr; 
		#end 
	#end
#end
