#parse("template/velocity/fun.vm")
/**
 * 
 */
package ${serviceImplFullPackageName};

/**
 * autogen
 * @author paddingdun
 * ${entity.tableCommon} service impl;
 * @date ${date}
 */
@org.springframework.stereotype.Service
public class ${sqlMapServiceImplJavaClassName} implements ${serviceFullPackageName}.${sqlMapIServiceJavaClassName} {
	
	@org.springframework.beans.factory.annotation.Autowired
	private ${daoFullPackageName}.${sqlMapIDaoJavaClassName} dao;
	
	/**
	 * save pojo;
	 */
	@org.springframework.transaction.annotation.Transactional
	@Override
	public void ${saveMethodPrefix}${entity.entityBeanName}(${pojoFullPackageName}.${entity.entityBeanName} obj){
		#foreach( $column in ${entity.jspColumns})
		#if(${column.editRenderShow} == false)
		#if(${column.newValueJavaCode})
			${column.newValueJavaCode}
		#end
		#end
		#end
		dao.${saveMethodPrefix}${entity.entityBeanName}(obj);
	}
	
	/**
	 * update pojo;
	 */
	@org.springframework.transaction.annotation.Transactional
	@Override
	public void ${updateMethodPrefix}${entity.entityBeanName}(${pojoFullPackageName}.${entity.entityBeanName} obj){
		#foreach( $column in ${entity.jspColumns})
		#if(${column.editRenderShow} == false)
		#if(${column.editValueJavaCode})
			${column.editValueJavaCode}
		#end
		#end
		#end
		dao.${updateMethodPrefix}${entity.entityBeanName}(obj);
	}
	
	/**
	 * get pojo by pk;
	 */
	@Override
	public ${pojoFullPackageName}.${entity.entityBeanName} ${getMethodPrefix}${entity.entityBeanName}(#pks_argument(${entity.columns} ${sqlMapMarkUse})){
		java.util.Map<String, Object> params = new java.util.HashMap<String, Object>();
		#pks_params(${entity.columns} ${sqlMapMarkUse})
		java.util.Map<java.lang.String, java.lang.Object> tmp = dao.${getMethodPrefix}${entity.entityBeanName}(params);
		if(tmp == null) return null;
		com.google.gson.Gson gson = com.incito.zhcs.util.GsonHelper.create();
		${pojoFullPackageName}.${entity.entityBeanName} result = gson.fromJson(gson.toJson(tmp), ${pojoFullPackageName}.${entity.entityBeanName}.class);
		return result;
	}
	
	/**
	 * delete pojo by pk;
	 */
	@org.springframework.transaction.annotation.Transactional
	@Override
	public void ${deleteMethodPrefix}${entity.entityBeanName}(#pks_argument_array(${entity.columns} ${sqlMapMarkUse})){
		java.util.Map<String, Object> params = new java.util.HashMap<String, Object>();
		#pks_params(${entity.columns} ${sqlMapMarkUse})
		this.dao.${deleteMethodPrefix}${entity.entityBeanName}(params);
	}
	
	/**
	 * query pojo list;
	 */
	@Override
	public java.util.List<${pojoFullPackageName}.${entity.entityBeanName}> ${queryMethodPrefix}${entity.entityBeanName}(${pojoFullPackageName}.${entity.entityBeanName} obj){
		java.util.List<java.util.Map<String, Object>> list = this.dao.${queryMethodPrefix}${entity.entityBeanName}(obj);
		com.google.gson.Gson gson = ${gsonHelperPackageName}.GsonHelper.create();
		java.util.List<${pojoFullPackageName}.${entity.entityBeanName}> result = new java.util.ArrayList<${pojoFullPackageName}.${entity.entityBeanName}>();
		for (java.util.Map<String, Object> map : list) {
			${pojoFullPackageName}.${entity.entityBeanName} o = gson.fromJson(gson.toJson(map), ${pojoFullPackageName}.${entity.entityBeanName}.class);
			result.add(o);
		}
		return result;
	}
	
	/**
	 * query paging pojo list;
	 */
	@Override
	public ${idataCollectionPackageName}.IDataCollection<${pojoFullPackageName}.${entity.entityBeanName}> ${queryPagingMethodPrefix}${entity.entityBeanName}(${pojoFullPackageName}.${entity.entityBeanName} obj, ${pagingPackageName}.Paging paging){
		${defaultListDataCollectionPackageName}.DefaultListDataCollection<${pojoFullPackageName}.${entity.entityBeanName}> result = new ${defaultListDataCollectionPackageName}.DefaultListDataCollection<${pojoFullPackageName}.${entity.entityBeanName}>();
		java.util.List<${pojoFullPackageName}.${entity.entityBeanName}> empty = java.util.Collections.emptyList();
		result.setData(empty);
		java.util.Map<java.lang.String, java.lang.Object> params = new java.util.HashMap<java.lang.String, java.lang.Object>();
		${defaultCollectionHelperPackageName}.CollectionHelper.object2Map(obj, params);
		Integer totalRows = this.dao.${getPagingCountPrefix}${entity.entityBeanName}(params);
		result.setTotal(totalRows);
		if(Integer.valueOf("0").equals(totalRows)){
			return result;
		}
		params.put("start", paging.getStart());
		params.put("length", paging.getLength());
		java.util.List<java.util.Map<String, java.lang.Object>> list = this.dao.${queryPagingMethodPrefix}${entity.entityBeanName}(params);
		com.google.gson.Gson gson = ${gsonHelperPackageName}.GsonHelper.create();
		java.util.List<${pojoFullPackageName}.${entity.entityBeanName}> data = new java.util.ArrayList<${pojoFullPackageName}.${entity.entityBeanName}>();
		for (java.util.Map<String, Object> map : list) {
			${pojoFullPackageName}.${entity.entityBeanName} o = gson.fromJson(gson.toJson(map), ${pojoFullPackageName}.${entity.entityBeanName}.class);
			data.add(o);
		}
		result.setData(data);
		return result;
	}
}
