<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="${pojoFullPackageName}.${table.entityBeanName}">
#set($i = 0)
#set($j = 0)
#set($H='#')

#**
<!-- iterate 表示迭代, 迭代必须是集合list -->
		<isNotNull property="citys" prepend="and">
			(
				<iterate conjunction="or" open="(" close=")" property="citys">
					a.area_name like CONCAT(#citys[]# ,'%')
                </iterate>
             )                                                                                             
		</isNotNull>
**#

<sql id="${queryPagingMethodPrefix}Condition">
	<dynamic prepend="WHERE">
		#foreach( $column in ${table.queryColumns})
		#if($column.stringJavaType)
		<isNotEmpty property="${column.propertyName}" prepend="and">
		<![CDATA[ ${column.logicDes} ]]>
		</isNotEmpty>
		#else
		<isNotNull property="${column.propertyName}" prepend="and">
		<![CDATA[ ${column.logicDes} ]]>
		</isNotNull>
		#end
		#end
	</dynamic>
</sql>
	
<insert id="${saveMethodPrefix}" parameterClass="${pojoFullPackageName}.${table.entityBeanName}">
	<![CDATA[insert into ${table.tableName}(#foreach( $column in ${table.columns}) #if ($i != 0), #end #if(${column.autoIncrement} == false) ${column.columnName} #set($i = $i + 1) #end #end ) values( #foreach( $column in ${table.columns}) #if ($j != 0), #end #if(${column.autoIncrement} == false) $H#if(${sqlMapMarkUse}==1)${column.propertyName}#else${column.columnName}#end$H #set($j = $j + 1) #end #end )]]>
	#if(${table.autoPrimary})
	<selectKey resultClass="#foreach( $column in ${table.columns})#if(${column.autoIncrement})${column.javaType}#end#end" keyProperty="#foreach( $column in ${table.columns})#if(${column.autoIncrement})${column.propertyName}#end#end"> 
		<![CDATA[SELECT LAST_INSERT_ID() AS ID ]]>   
	</selectKey>
	#end
</insert>

#set($i = 0)
#set($j = 0)
<update id="${updateMethodPrefix}" parameterClass="${pojoFullPackageName}.${table.entityBeanName}">
<![CDATA[update ${table.tableName} set #foreach( $column in ${table.columns}) #if ($i != 0), #end #if(${column.primary} == false and ${column.notInSetUpdateSql} == false) ${column.columnName} = $H#if(${sqlMapMarkUse}==1)${column.propertyName}#else${column.columnName}#end$H #set($i = $i + 1) #end #end  where #foreach( $column in ${table.columns}) #if (${column.primary}) #if ($j != 0)and #end ${column.columnName} = $H#if(${sqlMapMarkUse}==1)${column.propertyName}#else${column.columnName}#end$H #set($j = $j + 1) #end #end]]>
</update>
#set($j=0)	
<select id="${getMethodPrefix}" parameterClass="java.util.Map" resultClass="java.util.HashMap">
<![CDATA[select #foreach( $column in ${table.columns}) #if ($velocityCount != 1), #end ${column.columnName} as ${column.columnAlias} #end from ${table.tableName} where #foreach( $column in ${table.columns}) #if (${column.primary}) #if ($j != 0)and #end ${column.columnName} = $H#if(${sqlMapMarkUse}==1)${column.propertyName}#else${column.columnName}#end$H #set($j = $j + 1) #end #end]]> 
</select>

#set($j=0)
<delete id="${deleteMethodPrefix}" parameterClass="java.util.Map">
<![CDATA[delete from ${table.tableName} where #foreach( $column in ${table.columns}) #if (${column.primary}) #if ($j != 0)and #end ${column.columnName} in ]]> 
<iterate open="(" close=")" conjunction="," property="#if(${sqlMapMarkUse}==1)${column.propertyName}#else${column.columnName}#end" >
<![CDATA[$H#if(${sqlMapMarkUse}==1)${column.propertyName}#else${column.columnName}#end[]$H]]>
</iterate> #set($j = $j + 1) #end #end

</delete>
	
<select id="${queryMethodPrefix}" parameterClass="${pojoFullPackageName}.${table.entityBeanName}" resultClass="java.util.HashMap">
<![CDATA[select #foreach( $column in ${table.columns}) #if ($velocityCount != 1), #end t1.${column.columnName} as ${column.columnAlias} #end from ${table.tableName} t1]]> 
</select>

<select id="${queryPagingMethodPrefix}" parameterClass="java.util.Map" resultClass="java.util.HashMap">
<![CDATA[select #foreach( $column in ${table.columns}) #if ($velocityCount != 1), #end t1.${column.columnName} as ${column.columnAlias} #end from ${table.tableName} t1]]>
	<include refid="${queryPagingMethodPrefix}Condition"/>
	<isNotNull property="start">
		<isNotNull property="length">
			<![CDATA[limit #start#, #length#]]>
		</isNotNull>
	</isNotNull>
</select>

<select id="${getPagingCountPrefix}" parameterClass="java.util.Map" resultClass="java.lang.Integer">
<![CDATA[select count(1) from ${table.tableName} t1]]>
<include refid="${queryPagingMethodPrefix}Condition"/>
</select>
</sqlMap>