/**
 * 
 */
package ${daoImplFullPackageName};


/**
 * @author paddingdun
 * ${entity.tableCommon} dao impl;
 * @date ${date}
 * @since 1.0
 * @version 1.0
 */
@org.springframework.stereotype.Repository
public class ${sqlMapDaoImplJavaClassName} implements ${daoFullPackageName}.${sqlMapIDaoJavaClassName} {

	@org.springframework.beans.factory.annotation.Autowired
	private com.incito.logistics.base.BaseService baseDao;
	
	@Override
	public void ${saveMethodPrefix}${entity.entityBeanName}(${pojoFullPackageName}.${entity.entityBeanName} obj){
		baseDao.insert("${pojoFullPackageName}.${entity.entityBeanName}.${saveMethodPrefix}", obj);
	}
	
	@Override
	public void ${updateMethodPrefix}${entity.entityBeanName}(${pojoFullPackageName}.${entity.entityBeanName} obj){
		baseDao.update("${pojoFullPackageName}.${entity.entityBeanName}.${updateMethodPrefix}", obj);
	}
	
	@Override
	public java.util.Map<java.lang.String, java.lang.Object> ${getMethodPrefix}${entity.entityBeanName}(java.util.Map<java.lang.String, java.lang.Object> params){
		return (java.util.Map<java.lang.String, java.lang.Object>)baseDao.findForObject("${pojoFullPackageName}.${entity.entityBeanName}.${getMethodPrefix}", params);
	}
	
	@Override
	public void ${deleteMethodPrefix}${entity.entityBeanName}(java.util.Map<java.lang.String, java.lang.Object> params){
		baseDao.delete("${pojoFullPackageName}.${entity.entityBeanName}.${deleteMethodPrefix}", params);
	}
	
	@Override
	public java.util.List<java.util.Map<java.lang.String, java.lang.Object>> ${queryMethodPrefix}${entity.entityBeanName}(${pojoFullPackageName}.${entity.entityBeanName} obj){
		return baseDao.findForList("${pojoFullPackageName}.${entity.entityBeanName}.${queryMethodPrefix}", obj);
	}
	
	@Override
	public java.util.List<java.util.Map<java.lang.String, java.lang.Object>> ${queryPagingMethodPrefix}${entity.entityBeanName}(java.util.Map<java.lang.String, java.lang.Object> params){
		return baseDao.findForList("${pojoFullPackageName}.${entity.entityBeanName}.${queryPagingMethodPrefix}", params);
	}
	
	@Override
	public java.lang.Integer ${getPagingCountPrefix}${entity.entityBeanName}(java.util.Map<java.lang.String, java.lang.Object> params){
		return (java.lang.Integer)baseDao.findForObject("${pojoFullPackageName}.${entity.entityBeanName}.${getPagingCountPrefix}", params);
	}
}
