<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${daoFullPackageName}.${sqlMapIDaoJavaClassName}">
#set($i = 0)#set($j = 0)#set($H='#')
<sql id="${queryPagingMethodPrefix}Condition">
	${entity.querySql}
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
		#foreach( $column in ${entity.queryColumns})#if($column.stringJavaType)<if test="${column.propertyName} != null and '' neq ${column.propertyName}">
		<![CDATA[ and ${column.logicDes} ]]>
		</if>
		#else<if test="${column.propertyName} != null">
		<![CDATA[ and ${column.logicDes} ]]>
		</if>
		#end
		#end</trim>
</sql>
	

</mapper>