/**
 * 
 */
package ${daoFullPackageName};

import java.util.List;
import java.util.Map;

import ${baseMapperPackageName}.BaseMapper;
import ${pojoFullPackageName}.${entity.entityBeanName};

/**
 * @author paddingdun
 * ${entity.tableCommon} dao interface;
 * @date ${date}
 * @since 1.0
 * @version 1.0
 */
@org.springframework.stereotype.Repository
public interface ${sqlMapIDaoJavaClassName} extends BaseMapper<${entity.entityBeanName}> {

	List<Map<String, Object>> queryPaging(Map<String, Object> params);
	
	void deletes(Map<String, Object> params);
}
