<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${daoFullPackageName}.${sqlMapIDaoJavaClassName}">
#set($i = 0)#set($j = 0)#set($H='#')
	
<insert id="${saveMethodPrefix}${entity.entityBeanName}" parameterType="${pojoFullPackageName}.${entity.entityBeanName}" #if(${entity.autoPrimary}) useGeneratedKeys="true" keyProperty="#foreach( $column in ${entity.tableColumns})#if(${column.autoIncrement})${column.propertyName}#end#end" #end>
	insert into ${entity.tableName}(
	<trim suffix="" suffixOverrides=","> 
	#foreach( $column in ${entity.tableColumns}) #if(${column.autoIncrement} == false) 
#if($column.stringJavaType)   <if test="${column.propertyName} != null and '' neq ${column.propertyName}">
	${column.columnName},
	</if>
#else   <if test="${column.propertyName} != null">
	${column.columnName},
	</if>
	#end #end #end </trim> 
	)
	 values( 
	 <trim suffix="" suffixOverrides=",">
	 #foreach( $column in ${entity.tableColumns})
	#if(${column.autoIncrement} == false) #if($column.stringJavaType) 
<if test="${column.propertyName} != null and '' neq ${column.propertyName}">
	$H{${column.propertyName}},
	</if> 
#else <if test="${column.propertyName} != null">
	$H{${column.propertyName}},
	</if>
#end #end #end </trim>
	)
</insert>

#set($i = 0)
#set($j = 0)
<update id="${updateMethodPrefix}${entity.entityBeanName}" parameterType="${pojoFullPackageName}.${entity.entityBeanName}">
update ${entity.tableName} 
<set>
#foreach( $column in ${entity.tableColumns}) #if(${column.primary} == false) 
#if($column.stringJavaType) 
<if test="${column.propertyName} != null and '' neq ${column.propertyName}">
${column.columnName} = $H{${column.propertyName}},
</if>
#else
<if test="${column.propertyName} != null">
${column.columnName} = $H{${column.propertyName}},
</if>
#end
#end
#end
</set> 
where #foreach( $column in ${entity.tableColumns}) #if (${column.primary}) #if ($j != 0)and #end ${column.columnName} = $H{${column.propertyName}} #set($j = $j + 1) #end #end

</update>

#set($j=0)	
<select id="${getMethodPrefix}${entity.entityBeanName}" parameterType="java.util.Map" resultType="java.util.HashMap">
<![CDATA[select #foreach( $column in ${entity.tableColumns}) 

#if ($velocityCount != 1), #end ${column.columnName} as ${column.columnAlias} #end 
 
 from ${entity.tableName} 
  where #foreach( $column in ${entity.tableColumns}) #if (${column.primary}) #if ($j != 0)and #end ${column.columnName} = $H{${column.propertyName}} #set($j = $j + 1) #end #end]]> 
</select>

#set($j=0)
<delete id="${deleteMethodPrefix}${entity.entityBeanName}" parameterType="java.util.Map">
<![CDATA[delete from ${entity.tableName} where #foreach( $column in ${entity.tableColumns}) #if (${column.primary}) #if ($j != 0)and #end ${column.columnName} in ]]> 
<foreach item="${column.propertyName}" collection="${column.propertyName}" open="(" close=")" separator=",">
<![CDATA[$H{${column.propertyName}}]]>
</foreach> #set($j = $j + 1) #end #end

</delete>
	
<select id="${queryMethodPrefix}${entity.entityBeanName}" parameterType="${pojoFullPackageName}.${entity.entityBeanName}" resultType="java.util.HashMap">
<include refid="${queryPagingMethodPrefix}Condition"/>
<![CDATA[ #foreach($sort in ${entity.sorts})#if ($velocityCount == 1)order by #end #if ($velocityCount != 1), #end t1.${sort} #end
]]>
</select>

<select id="find${entity.entityBeanName}" parameterType="${pojoFullPackageName}.${entity.entityBeanName}" resultType="java.util.HashMap">
select 
<trim suffix="" suffixOverrides=",">
#foreach( $column in ${entity.tableColumns}) #if(${column.autoIncrement} == false) 
	t1.${column.columnName} as ${column.columnAlias},
#end #end
</trim>
from ${entity.tableName} t1
<trim prefix="where" prefixOverrides="and |or ">
#foreach( $column in ${entity.tableColumns}) #if(${column.primary} == false) 
#if($column.stringJavaType) 
<if test="${column.propertyName} != null and '' neq ${column.propertyName}">
and t1.${column.columnName} = $H{${column.propertyName}}
</if>
#else
<if test="${column.propertyName} != null">
and t1.${column.columnName} = $H{${column.propertyName}}
</if>
#end #end #end
</trim>
</select>

<select id="${queryPagingMethodPrefix}${entity.entityBeanName}" parameterType="java.util.Map" resultType="java.util.HashMap">
	<include refid="${queryPagingMethodPrefix}Condition"/>
<![CDATA[#foreach($sort in ${entity.sorts})#if ($velocityCount == 1)order by #end #if ($velocityCount != 1), #end t1.${sort} #end]]>
	<if test = "__start !=null">
		<if test = "__length !=null">
			<![CDATA[limit #{__start}, #{__length}]]>
		</if>
	</if>
</select>

<select id="${getPagingCountPrefix}${entity.entityBeanName}" parameterType="java.util.Map" resultType="java.lang.Integer">
select count(1) from ( 
<include refid="${queryPagingMethodPrefix}Condition"/>
) __t0
</select>
</mapper>